html, body, div, span, h1, p, a{border:0;font-family:"Helvetica Neue", Helvetica, "Noto Sans", sans-serif;font-size:100%;margin:0;outline:0;padding:0;}
:focus{outline:0;}
html, body, #app {height:100%;}
body{font-family:"Helvetica Neue", Helvetica, "Noto Sans", sans-serif}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
p, li, h1, h2, h3, h4, h5, h6, ul {
  -webkit-font-smoothing: antialiased;
}

ul, ol {
	list-style: none;
}

.wrapper {
  height: 100%;
  margin: 0px auto;
}

.content-wrap {
	position: relative;
	height: 100%;
}

.content {
  max-width: 1200px;
	height: 100%;
  margin: 0px auto;
}

.main-container {
	height: 1000px;
}

@import "partials/header";
@import "partials/footer";
@import "partials/_feature-top";
