html, body, div, span, h1, p, a{border:0;font-family:inherit;font-size:100%;margin:0;outline:0;padding:0;}
:focus{outline:0;}
html, body{height:100%;}
body{font-family:"游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
p, li, h1, h2, h3, h4, h5, h6, ul {
  -webkit-font-smoothing: antialiased;
}

ul, ol {
	list-style: none;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0px auto;
}

.content-wrap {
	position: relative;
}

.content {
  max-width: 1200px;
	height: 100%;
  margin: 0px auto;
}

.main-container {
	height: 2000px;
}

@import "partials/header";
