html, body, div, span, h1, p, a{border:0;font-family:inherit;font-size:100%;margin:0;outline:0;padding:0;}
:focus{outline:0;}
html, body{height:100%;}
body{font-family:"Helvetica Neue",Helvetica,"Noto Sans",sans-serif}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
p, li, h1, h2, h3, h4, h5, h6, ul {
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0px auto;
}

.content-wrap {
    max-width: 1200px;
    margin: 0px auto;
}
